{% extends "layouts/admin/base.html" %}

{% set serviceName = 'Manage HMCTS account' %}

{% block content %}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Profile',
    href: '/manage-account-v2',
    active: true
  },  {
    text: 'Organisation',
    href: '/manage-account-v2/organisation',
    active: false
  }, {
    text: 'Users',
    href: '/manage-account-v2/users',
    active: false
  },
  {
    text: 'Payments',
    href: '/manage-account-v2/payments',
    active: false
  }]
})}}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">


    <h1 class="govuk-heading-xl">Profile</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <dl class="govuk-check-your-answers govuk-check-your-answers--short">
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       First name
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       Adam
                     </dd>
                     <dd class="govuk-check-your-answers__change">

                     </dd>
                   </div>
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Last name
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       Silver
                     </dd>
                     <dd class="govuk-check-your-answers__change">

                     </dd>
                   </div>
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Email
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       adam@sherwindavis.com
                     </dd>
                     <dd class="govuk-check-your-answers__change">

                     </dd>
                   </div>
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Password
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       ********
                     </dd>
                     <dd class="govuk-check-your-answers__change">

                     </dd>
                   </div>
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Defult organisation address
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       1 The Road <br>
                       London <br>
                       W91SF
                     </dd>
                     <dd class="govuk-check-your-answers__change">
                       <a href="#">
                         Change default<span class="visually-hidden"></span>
                       </a>
                     </dd>
                   </div>
                   <div class="govuk-check-your-answers__contents">
                     <dt class="govuk-check-your-answers__question">
                       Permissions
                     </dt>
                     <dd class="govuk-check-your-answers__answer">
                       Manage cases
                     </dd>
                     <dd class="govuk-check-your-answers__change">
                       <a href="#">
                         <span class="visually-hidden"></span>
                       </a>
                     </dd>
                   </div>
                 </dl>

      </div>
    </div>




  </main>

</div>

{% endblock %}
