{% extends "layouts/admin/base.html" %}


{% set serviceName = 'Manage HMCTS account' %}

{% set pageId = 'users' %}

{% block content %}
{{hmctsPrimaryNavigation({
  classes: "govuk-!-margin-bottom-0",
  items: [ {
    text: 'Profile',
    href: '/manage-account-v2',
    active: false
  },  {
    text: 'Organisation',
    href: '/manage-account-v2/organisation',
    active: false
  }, {
    text: 'Users',
    href: '/manage-account-v2/users',
    active: true
  },
  {
    text: 'Payments',
    href: '/manage-account-v2/payments',
    active: false
  }]
})}}

<style>

/* // RESPONSIVE table */

body {
  line-height: 1.25;
}

table {
  border-bottom: 1px solid #fff;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;

  table-layout: auto;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em 0;
  text-align: left;

}

table th {

}

@media screen and (max-width: 650px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

  }

  table tr {
    border-bottom: 5px solid #ddd;
    display: block;
    margin-bottom: .625em;

  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;

  }
}
</style>

  <div class="govuk-width-container">

    <main role="main" class="govuk-main-wrapper">




      <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title-wrapper">
          <h1 class="hmcts-page-heading__title govuk-heading-xl">Users</h1>
        </div>
        <div class="hmcts-page-heading__actions-wrapper">
            {{govukButton({
              text: 'Invite users',
              href: '/manage-account-v2/users/new',
              classes: 'hmcts-page-heading__button'
            })}}
        </div>
      </div>




      <table class="govuk-body govuk-!-font-size-19" id="transactionstable">
          <p class="govuk-body govuk-!-font-size-19">  <!-- 7 payments --> </p>
          <thead class="govuk-!-font-size-19">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Email address</th>
        <th class="govuk-table__header" scope="col">Manage cases</th>
        <th class="govuk-table__header" scope="col">Manage organisation</th>
        <th class="govuk-table__header" scope="col">Manage users</th>
        <th class="govuk-table__header" scope="col">Manage payment</th>
        <th class="govuk-table__header" scope="col">Status</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Email address"><a href="#">amysmith@sherwindavis.co.uk<a/></td>
        <td data-label="Manage cases">-</td>
        <td data-label="Manage organisation">Yes</td>
        <td data-label="Manage users">Yes</td>
        <td data-label="Manage payment">-</td>
        <td data-label="Status">Pending</td>
      </tr>

      <tr>
        <td data-label="Email address"><a href="#">djones@sherwindavis.co.uk<a/></td>
        <td data-label="Manage cases">-</td>
        <td data-label="Manage organisation">Yes</td>
        <td data-label="Manage users">Yes</td>
        <td data-label="Manage payment">-</td>
        <td data-label="Status">Active</td>
      </tr>

      <tr>
        <td data-label="Email address"><a href="#">spotts@sherwindavis.co.uk<a/></td>
        <td data-label="Manage cases">-</td>
        <td data-label="Manage organisation">-</td>
        <td data-label="Manage users">-</td>
        <td data-label="Manage payment">Yes</td>
        <td data-label="Status">Active</td>
      </tr>

      <tr>
        <td data-label="Email address"><a href="#">kmiles@sherwindavis.co.uk<a/></td>
        <td data-label="Manage cases">Yes</td>
        <td data-label="Manage organisation">-</td>
        <td data-label="Manage users">-</td>
        <td data-label="Manage payment">-</td>
        <td data-label="Status">Active</td>
      </tr>


    </tbody>
  </table>



    </main>
  </div>

{% endblock %}
